.login-page  {
    display: block;
}
.login-form {
    width: 420px;
    margin: 20% auto;

}
.login-main-text{
    margin-top: 20%;
    padding: 60px;
    color: #fff;
}

.login-main-text h2{
    font-weight: 300;
}
.notification {
    position: fixed;
    top: 11px;
    margin-bottom: 10px;
    width: 420px;
    right: 20px;
}